<html>

<head>
    <Title>SI</Title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vee-validate@2.0.0-rc.25/dist/vee-validate.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="./qrcode.min.js"></script>
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <!--<v-toolbar app dark color="#14213d" fixed v-if="!signUp">
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title>SI Attendance</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn flat>Link One</v-btn>
                    <v-btn flat>Link Two</v-btn>
                    <v-btn flat>Link Three</v-btn>
                </v-toolbar-items>
            </v-toolbar>
		-->
            <v-app-bar app color="#14213d" dark>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>Application</v-toolbar-title>
            </v-app-bar>
            <v-content>
                <v-container fluid fill-height :style="[!signUp ? {'height': '100%'} : {'height' : '100vh'}]">

                            <v-alert :value="successShow" type="success">
                                {{ successMessage }}
                                <a style="float: right" v-on:click="clearSuccess()"><i aria-hidden="true"
                                        class="v-icon v-icon--right material-icons theme--light">cancel</i></a>
                            </v-alert>

                                <v-alert :value="errorShow" type="error">
                                    {{ errorMessage }}
                                    <a style="float: right" v-on:click="clearError()"><i aria-hidden="true"
                                            class="v-icon v-icon--right material-icons theme--light">cancel</i></a>
                                </v-alert>

                        <router-view v-on:pass-error-message="addError" v-on:pass-success-message="addSuccess">
                        </router-view>
                    </v-layout>
                </v-container>
            </v-content>
            <v-footer app dark color="#14213d" inset v-if="!signUp">
                <span class="white--text">&copy; 2017</span>
            </v-footer>
        </v-app>
    </div>

    <script src="./front/AllSISessions/AllSISessions.js"></script>
    <script src="./front/CreateUser/createUser.js"></script>
    <script src="./front/CreateAttendance/CreateAttendance.js"></script>
    <script src="./front/SISession/SISession.js"></script>
    <script src="./front/CurrentSessions/CurrentSessions.js"></script>
    <script src="./front/CreateSession/CreateSession.js"></script>
    <script src="./front/LeaderHome/LeaderHome.js"></script>

    <script type="module" src="./back/AuthorizationService.js"></script>
    <script type="module" src="./back/MessageService.js"></script>
    <script type="module" src="./index.js"></script>

</body>

</html>